/* src/components/MessageInput.css */
.message-input {
    display: flex;
    align-items: center;
    padding: 0px;
    background-color: white;
    border-top: 1px solid #ddd;
}

.input-field {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 0px 0px 0px 10px;
    font-size: 16px;
    line-height: 1.4;
    font-family: Calibri, Arial, sans-serif;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    min-width: 50px;
    min-height: 24px;
}

.input-field:empty::before {
    content: attr(data-placeholder);
    color: #888;
    pointer-events: none;
}

.chat-send-icon-btn {
    height: 28px;
    width: 28px;
    color: #8e8e8e;
    cursor: pointer;
    display: block;
    margin-right: 10px;
}

.chat-send-icon-btn.chat-text-exist {
    color: #1a5884;
}
