.message-input {
    display: flex;
    align-items: center; /* Центрирование по вертикали */
    padding: 0px;

    background-color: white;
    border-top: 1px solid #ddd;
}

.message-input textarea {
    flex: 1; /* Занимает всё доступное пространство */
    padding: 10px;
    border: none;
    outline: none;

    border-radius: 0px 0px 0px 10px;

    resize: none;
    overflow: hidden;
    font-size: 16px; /* Настраиваем размер текста */
    font-family: Calibri, Arial, sans-serif; /* Calibri, затем Arial */
}

.chat-send-icon-btn {
    height: 28px;
    width: 28px;
    color: #8e8e8e;
    cursor: pointer;
    display: block;
    margin-right: 10px;
}

.chat-send-icon-btn.chat-text-exist {
    color: #1a5884;
}
