/* src/components/MessagesList.css */
.messages-list {
    flex-grow: 1; /* Занимает оставшееся пространство */

    display: flex;
    flex-direction: column; /*Сообщения идут столбцом*/
    /* flex-direction: column-reverse; Начинаем выравнивание с нижней части */
    align-items: flex-start; /* Сообщения других пользователей прижаты к левому краю */
    justify-content: end;

    padding: 10px;
    overflow-y: auto;
}

.message {
    display: inline-block;
    padding: 8px;
    border-radius: 20px;
    margin-bottom: 8px;
    background: #e6f3ff;
    max-width: 80%;
    font-size: 14px;
    white-space: pre-wrap;
    line-height: 1.2;
    width: fit-content; /* Сообщение адаптируется по ширине текста */
}

.message.own {
    align-self: flex-end; /* Прижимает сообщения owner к правому краю */
    text-align: left;
    border-bottom-right-radius: 0px;
    background: #1a5884;
    color: white;
}

.message.other {
    align-self: flex-start; /* Прижимает сообщения других пользователей к левому краю */
    background: #eaeaea;
    text-align: left;
    border-bottom-left-radius: 0px;
}

.message.own .message-text,
.message.other .message-text {
    margin: 0 10px;
}

.timestamp {
    display: block;
    font-size: 10px;
    margin-top: 4px;
}

.message.own .timestamp {
    text-align: right;
    color: #d5d5d5;
}

.message.other .timestamp {
    text-align: left;
    color: #848484;
}
