.messages-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
    overflow-y: auto;
}

.messages-list > div:first-child {
    margin-top: auto; /* Притягивает первое сообщение вниз */
}

.message {
    /* display: flex;
    align-items: center; */
    margin: 10px 0; /* Отступы между сообщениями */
}

.message-narrow-point-shaper {
    position: absolute;

    width: 10px; /* Фиксированная ширина узкого блока */
    height: 10px;

    bottom: 0px;
}

.message-narrow-point-shaper.right {
    right: -10px;
    background-color: #1a5884;
}

.message-narrow-point-shaper.right div {
    background-color: rgb(255, 255, 255);
    width: 10px;
    height: 10px;
    border-bottom-left-radius: 100%;
}

.message-narrow-point-shaper.left {
    left: -10px;
    background-color: #ececec;
}

.message-narrow-point-shaper.left div {
    background-color: rgb(255, 255, 255);
    width: 10px;
    height: 10px;
    border-bottom-right-radius: 100%;
}

.message-main {
    display: flex;
    flex-direction: column; /* Сохраняем текст и timestamp внутри */
    padding: 15px;

    font-size: 14px;
    white-space: normal; /* Автоматический перенос текста */
    line-height: 1.2;
    max-width: calc(100% - 20px); /*TODO check is we needed 20px?*/

    word-break: break-all; /* Разбивает слова на части */
    overflow-wrap: anywhere; /* Переносит длинные слова в любом месте */

    position: relative;
}

.message.own {
    align-self: flex-end; /* Прижимает сообщения owner к правому краю */
    text-align: left;
    margin-right: 10px;
}

.message.own .message-main {
    background: #1a5884;
    color: white;
    border-radius: 20px 20px 0px 20px;
    margin-left: 50px;
}

.message.other {
    align-self: flex-start; /* Прижимает сообщения других пользователей к левому краю */
    text-align: left;

    margin-left: 10px;
}
.message.other .message-main {
    background: #ececec;
    color: rgb(43, 43, 43);
    border-radius: 20px 20px 20px 0px;
    margin-right: 50px;
}

.timestamp {
    font-size: 10px;
    margin-top: 4px;
    color: #e0e0e0;
    text-align: right;
}

.message.other .timestamp {
    text-align: left;
    color: #848484;
}
