/*Варианты прелоудеров: 
https://css-loaders.com/*/

/* .loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid rgb(55, 69, 111);
    border-right-color: rgb(255, 115, 0);
    animation: l2 1s infinite linear;
}

@keyframes l2 {
    to {
        transform: rotate(1turn);
    }
} */

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-color: #d1f1ff #0000;
    animation: l16 1s infinite linear;
}
.loader::before,
.loader::after {
    content: '';
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
}
.loader::before {
    border-color: #6abbf8 #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
}
.loader::after {
    margin: 8px;
}
@keyframes l16 {
    100% {
        transform: rotate(1turn);
    }
}
