/* src/components/Header/Header.module.css */
.logo {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1; /*Убедимся, что логотип выше других элементов */
}

.logoImage {
    position: absolute; /* Абсолютное позиционирование */
    top: 0; /* Верхняя часть логотипа касается верхней части header */
    left: 30px;
    height: 140px; /* Высота логотипа больше на 30% относительно header */
    width: auto;
    transform: translateY(-0%); /* Сдвигаем логотип вниз */
    z-index: 2; /* Логотип выше остальных элементов */
}

.header {
    width: 100%;
    background-color: #f5f5f5; /* Цвет фона для header */
}

/* Верхняя полоса */
.topLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10px;
    /*padding: 10px 20px; /* Отступы вокруг содержимого */
    /* background-color: #76d2fd; /* Цвет фона верхней полосы */
    background-color: #6abbf8; /* Цвет фона верхней полосы */
}
.middleLine {
    height: 30px; /* Задаём высоту элемента */
    display: flex; /* Используем flex для центрирования содержимого, если необходимо */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
    background-color: #1f1f1f; /* Убедись, что фон виден, если это нужно */
}

.headerSlogan {
    display: flex; /* Используем flexbox для центрирования */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    font-size: 16px; /* Оптимальный размер шрифта */
    color: #d5defe; /* Белый цвет текста */
    text-align: center; /* Центрируем текст внутри блока */
    font-family: Arial, sans-serif; /* Шрифт, можно заменить на другой */
}

/* Нижняя полоса */
.bottomLine {
    display: flex;
    justify-content: flex-end; /* Центрируем иконки */
    padding: 10px 5px 3px 5px; /* Отступы снизу */
    background-color: #d1f1ff; /* Цвет фона нижней полосы */
}

.iconsArea {
    display: flex;
    gap: 20px; /* Расстояние между иконками */
}

