/* Контейнер для всех иконок с меню */
.iconsArea {
    display: flex;
    margin-right: 50px; /* Сдвиг влево */
    gap: 50px; /* Отступ между иконками */
}

.iconHoverArea {
    position: relative; /* Для позиционирования меню относительно иконки */
}

.headerMarketIcon {
    position: relative; /* Убедитесь, что у родительского контейнера есть позиционирование */
}
.iconHover {
    /* color: #ff6600; */
    color: #293049;
    font-size: 22px;
}

.iconHover.iconHovered, .iconLabel.iconHovered {
    /* color: #ff6600; */
      color: #0a00bd;
}
.iconContainer {
    display: flex; /* Используем Flexbox для центрирования */
    flex-direction: column; /* Элементы располагаются вертикально */
    align-items: center; /* Центрируем по горизонтали */
    cursor: pointer; /* Изменяем курсор на pointer */
}

.iconLabel {
    display: block; /* Блоковое отображение для нового текста */
    text-align: center; /* Центрируем текст */
    color: gray; /* Серый цвет текста */
    margin-top: 5px; /* Отступ сверху от иконки */
    transition: color 0.2s ease; /* Плавный переход цвета */
}
