.new-transport-ad {
    display: flex;
}
.new-ad-section {
    flex: 1;
    border: 1px rgb(144, 174, 255) solid;
    /* border: 1px blueviolet solid; */
    width: 250px;
    min-height: 450px;
    margin: 5px;
    border-radius: 10px;
    text-align: left; /* Этот элемент будет выравнен по левому краю */
    display: inline-block;
}

.new-ad-division-title {
    font-size: 20px;
    padding: 0;
    font-weight: 600;
    padding: 20px 0;

    border-radius: 10px 10px 0 0;
    background-color: blueviolet;
    color: #ffffff !important;
    margin-top: 0px;
    text-align: center;
}

.new-ad-card-main-area {
    margin: 10px;
}

.new-ad-departure,
.new-ad-destination,
.new-ad-date {
    display: inline-block !important; /* Добавляем, чтобы корректно сбросить центровку */
}

.new-ad-title {
    font-weight: 600;
    color: rgb(40, 40, 40) !important;
}

h2 {
    text-align: center;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/*Блок чекбоксов*/
.checkbox-item {
    width: 100%;
    height: 20px;
    margin-bottom: 1px;

    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;

    position: relative;
}

.checkbox-item:hover {
    background-color: rgb(187, 193, 255);
}

.checkbox-label {
    cursor: pointer;
}

.checkbox-label:hover {
    background-color: #d1f2ff;
}

.input-checkbox {
    /* margin-right: 10px; */
    width: 20px;
    /* border: 1px solid red; */
    height: 15px;

    position: absolute;
    top: 0;
    left: 0px;
}

.checkbox-title {
    display: inline-flex;
    font-size: 16px;

    position: absolute;
    top: 0;
    left: 30px;
}

/*Блок радиобатаннов*/
.radio-item {
    width: 100%;
    height: 20px;
    margin-bottom: -10px;

    /* border: 1px solid rgb(10, 31, 152); */
    border-radius: 5px;

    position: relative;
}

.radio-item:hover {
    background-color: rgb(187, 193, 255);
}

.radio-item {
    cursor: pointer;
}

.input-radio {
    /* margin-right: 10px; */
    width: 20px;
    /* border: 1px solid red; */
    height: 15px;

    position: absolute;
    top: 0;
    left: 0px;
}

.radio-title {
    display: inline-flex;
    font-size: 16px;

    position: absolute;
    top: 0;
    left: 30px;
}

.select-transport-type {
    width: 100%;
    height: 30px;
    cursor: pointer;
}

.without-bottom-margine {
    margin-bottom: 0;
}
/**/
.truck-capacity {
    margin: 20px 0; /* Отступ сверху и снизу */
}

.value-dimension {
    display: flex; /* Используем flex для размещения в линию */
}

.dimension-item {
    flex: 1; /* Каждый элемент занимает равное пространство */
    margin-right: 0px; /* Отступ между элементами */
}

.dimension-item:last-child {
    margin-right: 0; /* Убираем отступ у последнего элемента */
}

.label-dimension {
    display: block; /* Подпись отображается как блок */
    margin-bottom: 5px; /* Отступ между подписью и полем ввода */
    text-align: center;
}

.weight-dimension {
    width: 100%;

    display: flex;
    align-items: center;
}

.weight-label {
    width: 80px;

    font-weight: 600;
    display: block;
}

input.weight-input {
    margin-left: 10px;
    margin-bottom: 0 !important;
}

.use-truck {
    display: flex;
    align-items: center;
}

.use-truck-button {
    margin-left: auto;

    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;

    transition: color 0.2s ease;
    border: 1px solid rgb(71, 96, 177);

    border-radius: 5px;

    display: flex;
    align-items: center;
}

.use-truck-btn-icon {
    display: block;
    margin: 0 auto;
    font-size: 18px;

    transition: color 0.4s ease;

    color: rgb(71, 96, 177);
}

.use-truck-button:hover .use-truck-btn-icon {
    color: white;
    cursor: pointer;
}

.use-truck-button:hover {
    background-color: rgb(71, 96, 177);
    cursor: pointer;
}

.use-truck-button:active {
    -webkit-box-shadow: 0px 0px 0px 8px rgba(255, 203, 112, 0.53);
    -moz-box-shadow: 0px 0px 0px 8px rgba(255, 203, 112, 0.53);
    box-shadow: 0px 0px 0px 8px rgba(255, 203, 112, 0.53);
}

.use-truck-message p {
    /* display: block; */
    margin: 0px 10px 0px 0px;
}

.truck-name-photo {
    display: flex; /* Используем flex для размещения элементов в линию */
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Выравнивание по центру по вертикали */
}

.truck-name {
    flex: 1; /* Занимает всё доступное пространство */
    margin-right: 20px; /* Отступ между элементами */
}

label.label-dimension {
    display: block; /* Подпись отображается как блок */
    margin-bottom: 5px; /* Отступ между подписью и полем ввода */
}

.truck-photo {
    position: relative; /* Устанавливаем относительное позиционирование */
}

.photo-circle {
    width: 70px; /* Ширина круга */
    height: 70px; /* Высота круга */
    border-radius: 50%; /* Круглая форма */
    background-color: #ccc; /* Серый цвет фона */
    display: flex; /* Используем flex для центрирования содержимого */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    cursor: pointer; /* Изменяем курсор при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета */
    margin-bottom: -20px;

    overflow: hidden;
}

.photo-circle:hover {
    background-color: #bbb; /* Цвет при наведении */
}

.photo-preview {
    width: 70px; /* Ширина изображения */
    height: 70px; /* Высота изображения */
    border-radius: 50%; /* Круглая форма изображения */

    /* width: 100%;
    height: 100%; */
    object-fit: cover; /* Обрезаем изображение до квадрата, заполняя контейнер */
}
