/* .user-hover-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 250px;
} */

.huc-personal-data {
    display: flex;
    /* align-items: center; */
}

.huc-user-photo-container {
    width: 100px; /* Задаем ширину контейнера */
    height: 100px; /* Задаем высоту контейнера */
    border-radius: 50%; /* Делаем контейнер кругом */
    overflow: hidden; /* Прячем части изображения, выходящие за пределы контейнера */
}

.huc-user-photo {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Обрезаем изображение до квадрата, заполняя контейнер */
}

.huc-personal-info {
    /* display: flex;
    flex-direction: column; */
}

.huc-user-name {
    font-size: 18px;
    font-weight: bold;
    color: #ff6600;
}

.huc-user-phone {
    font-size: 14px;
    color: gray;
}

.huc-user-name,
.huc-user-phone {
    margin-left: 20px;
}

.huc-spacer {
    padding-top: 3px;
}

.hpc-last-spacer {
    /* border: 1px solid black; */
    background-color: #fbae7b;
}

/*Стили и цвета для иконок-кнопок*/
.icon-text-container,
.icon-text-container .icon,
.huc-section-name.without-icon {
    font-size: 16px;
    color: rgb(62, 59, 100);
    cursor: pointer;
    transition: color 0.2s ease; /* Плавное изменение цвета при наведении */
}

.icon-text-container :hover,
.icon-text-container .icon:hover,
.huc-section-name.without-icon:hover {
    color: #ff6600; /* Цвет при наведении */
    font-weight: 600;
}
