.huc-personal-data {
    display: flex;
}

.huc-user-photo-container {
    width: 80px; /* Задаем ширину контейнера */
    height: 80px; /* Задаем высоту контейнера */
    border-radius: 50%; /* Делаем контейнер кругом */
    overflow: hidden; /* Прячем части изображения, выходящие за пределы контейнера */
}

.huc-user-photo {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Обрезаем изображение до квадрата, заполняя контейнер */
}

.huc-user-name {
    font-size: 18px;
    font-weight: bold;
    color: #ff6600;
}

.huc-user-phone {
    font-size: 14px;
    color: gray;
}

.huc-user-name,
.huc-user-phone {
    margin-left: 20px;
}

.huc-spacer {
    padding-top: 3px;
}

.hpc-last-spacer {
    background-color: #fbae7b;
}

/*Стили, цвета и анимация для иконок-кнопок*/
.icon-text-container,
.icon-text-container .icon,
.huc-section-name.without-icon {
    font-size: 16px;
    color: rgb(62, 59, 100);
    cursor: pointer;
    transition: color 0.2s ease; /* Плавное изменение цвета при наведении */
}

.icon-text-container:hover span,
.icon-text-container:hover .icon,
.huc-section-name.without-icon:hover {
    color: #ff6600; /* Цвет при наведении */
    font-weight: 600;
}
