.user-data-container {
    margin: 0;
    padding: 0;
}

/* .personal-info-container{
background-color: bisque;
} */

.user-data-container {
    padding: 20px;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
}

.password-container {
    border-top: 3px solid rgb(13, 0, 198);
    padding: 20px;
    height: 100%;
}

.personal-info-user-photo {
    /* max-width: 200px; */
    width: 30%;
    min-width: 100px;

    /* width: 100px;
    height: 100px;
    overflow: hidden; */
    /* border-radius: 10%; */
    border-radius: 5px;
}
.personal-info-user-password {
    padding-top: 30px;
}

.personal-info-user-name {
    font-weight: 600;
    font-size: large;
    color: rgb(217, 78, 32);
}

.personal-info-user-email,
.personal-info-user-phone {
    font-weight: 600;
    color: rgb(78, 78, 78);
}

.personal-info-user-item-title {
    font-weight: 600;
}

.button-container {
    padding-top: 30px;
    display: flex;
    justify-content: space-between; /* Размещает кнопки по краям */
    width: 100%; /* Занимает всю ширину родителя */
}

.user-about {
    width: 100%;
    border: 3px solid rgb(185, 185, 253);
    border-radius: 5px;
}
