/* src/components/UserProfile/UserProfile.css */

.user-profile-container {
    display: flex; /* Используем flex для размещения компонентов */
    min-height: 600px; /* Высота профиля */
}

.personal-info {
    flex: 1; /* Занимает 1/4 пространства */
    padding: 20px; /* Отступы */
}

.side-info {
    flex: 1; /* Занимает 2/4 пространства */
    display: flex;
    flex-direction: column; /* Вертикальное размещение */
}

.requests-wrapper,
.deliveries-wrapper,
.payment-details-wrapper,
.personal-info {
    flex: 1; /* Каждый занимает равное пространство */
    background-color: #ffffff; /* Цвет фона для других секций */
    padding: 20px; /* Отступы */
    margin: 10px; /* Отступ между прямоугольниками */
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px; /* Скругленные углы */
    box-shadow: 0 2px 5px rgba(97, 102, 104, 0.232); /* Небольшая тень */
}

h2 {
    margin: 0 0 10px 0; /* Отступы для заголовков */
}

.profile-section {
    cursor: pointer;
}

.profile-section:hover {
    background-color: #d1f1ff;
}

.profile-section:active {
    background-color: #6abbf8;
}
