/* src/components/Register/Register.css */

/* Установка box-sizing для всех input */
/* input  */
.register-input {
    box-sizing: border-box;
    /* Включает padding и border в ширину */
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Остальные стили остаются прежними */
.register-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-divider {
    box-sizing: border-box;
    width: 100%;
    height: 20px;
}

h1 {
    text-align: center;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: -5px;
    margin-bottom: 10px;
}

.preloader-register {
    width: 50px;
    margin: 50px auto;
}