.cbr {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 16px;
    gap: 12px;
}

.cbr__badge {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 3px 0px;
    /* border-radius: 999px; */
    /* background: #f9fafb; */
    /* border: 1px solid rgba(0, 0, 0, .06); */
    color: #7b7a7c;
    /* font-size: 22px; */
    line-height: 1;
}

.cbr__icon {
    display: inline-block;
    width: 22px;
    height: 22px;
}

.cbr__text {
    font-weight: 500;
    font-size: 16px;
    margin: 4px 0px 14px -8px;
}

/* маленький бейдж для “+N” */
.cbr__badge .cbr__text:only-child {
    font-weight: 700;
}