/* Общий контейнер для формы смены пароля */
.update-password-container {
    padding-top: 30px;
    width: 100%;
}

/* Заголовок формы */
.update-password-container h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

.label-for-input {
    margin-bottom: -8px;
    color: #333;
    font-weight: 600;
}

/* Поля ввода */
.update-password-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}

/* Сообщения об ошибках */
.update-password-container .error {
    color: red;
    font-size: 0.9rem;
    margin-top: -8px;
    margin-bottom: 10px;
}

/* Сообщения об успешной операции */
.update-password-container .success {
    color: green;
    font-size: 0.9rem;
    margin-top: -8px;
    margin-bottom: 10px;
}

.success-message {
    margin-top: -25px;
    color: rgb(1, 160, 41);
    font-weight: 600;
    background-color: yellow;
    text-align: center;
}
