/* src/components/Login/Login.css */

.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

/* input */
.login-input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: -5px;
    margin-bottom: 10px;
}

/* Стили для контейнера с флажком */
/* Стили для линии сверху */
.remember-me-line {
    height: 1px;
    /* Высота линии */
    background-color: lightgray;
    /* Цвет линии */
    margin: 10px 0;
    /* Отступ сверху и снизу для линии */
}

/* Стили для контейнера с флажком */
.remember-me-container {
    display: inline-flex;
    /*Используем flexbox для горизонтального выравнивания*/
}

/* Стили для checkbox */
.remember-me-checkbox {
    margin-right: 8px;
    /* Отступ справа, чтобы отделить от метки */
    transform: scale(1.2);
    /* Увеличиваем размер checkbox */
    cursor: pointer;
    /* Изменяем курсор на указатель при наведении */
}

/* Стили для метки */
.remember-me-label {
    font-size: 16px;
    /* Размер шрифта для метки */
    color: #777777;
    /* Цвет текста метки */
    cursor: pointer;
    /* Изменяем курсор на указатель при наведении */
    white-space: nowrap;
    /* Предотвращает перенос текста */
}

.or-word {
    color: #777777;
    margin-right: 5px;
}

.link-word {
    color: rgb(13, 110, 253);
    font-weight: 600;
}

.link-word:hover {
    color: orange;
}

.preloader-login {
    width: 50px;
    margin: 50px auto;
}