.ad-item {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    /* border: 1px solid #ddd; Границы для объявления */
    border: 1px solid #a6a6a6;
    border-radius: 10px;
    /* background-color: #fff; */
    padding: 0px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); Легкая тень */
    cursor: pointer;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.ad-item:hover {
    -webkit-box-shadow: 0px 0px 0px 4px #d1f1ff;
    -moz-box-shadow: 0px 0px 0px 4px #d1f1ff;
    box-shadow: 0px 0px 0px 4px #d1f1ff;
    /* -webkit-box-shadow: 0px 0px 0px 4px #6abbf8;
    -moz-box-shadow: 0px 0px 0px 4px #6abbf8;
    box-shadow: 0px 0px 0px 4px #6abbf8; */
}

.row {
    width: 100%;
    box-sizing: border-box;

    min-height: 100px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.upper-ad-row {
    border-radius: 10px 10px 0 0;
    display: flex;

    width: 100%;
    min-height: 60px;

    background-color: white;
    align-items: flex-end;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
}

.rating-star {
    position: absolute;
    top: 10px;
    left: 0;
    margin: 0px 0px 10px 10px;
}
.city {
    font-size: 16px;
    font-weight: 600;
    color: #f66104;
    text-align: start;
}

.departure-location-date {
    margin-left: 50px;
    margin-bottom: 10px;
}
.departure-location {
    display: inline-block; /* Или блок, если необходимо */
}

.departure {
    display: inline-block;
    width: 150px;
    vertical-align: top;
}

.destination {
    display: inline-block;
    width: 150px;
    vertical-align: top;
}

.availability-date {
    font-size: 14px;
    font-weight: 600;
    color: #373b80;
    text-align: start;
    margin-bottom: 5px;
}

.finance {
    margin-bottom: 5px;
    margin: 0px 30px 10px auto;

    display: flex;
    flex-direction: column; /* Располагаем блоки вертикально */
    align-items: flex-end; /* Прижимаем блоки к правому краю */
}

.price {
    font-size: 16px;
    font-weight: 600;
    color: #2c2c48;
    padding-bottom: 5px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.finance-details {
    color: #949494;
    font-size: 12px;
}

.cell.price {
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; /* Вертикальное центрирование */
}
/*стилизуем информацию о транспорте*/
.car-info {
    text-align: left;

    font-size: 14px;

    flex-grow: 1; /* Центр занимает оставшееся пространство */
    box-sizing: border-box; /* Учитываем отступы внутри блока */
}

.volume {
    font-weight: 600;
}

.down-ad-row {
    min-height: 40px; /*TODO сделать выравнивание по центру, но что бы все входило*/
    color: #414141;

    display: flex;
    justify-content: space-between; /* Выравнивание боковых блоков */
    width: 100%; /* Контейнер занимает всю ширину */
    box-sizing: border-box;

    align-items: center; /* Вертикальное центрирование */
}

.icon-car {
    font-size: 20px;
    color: rgb(67, 61, 88);

    margin: 0px 10px 0px 20px;
    margin-top: 5px;
}

.icon-item-ad-bar {
    width: 100px;
}

.icon-add {
    /* background-color: #fe914d; */
    /* background-color: #fdb181; */
    background-color: #ffffff;

    /* color: white; */
    font-size: 14px;
    height: 28px;
    width: 90px;
    border-radius: 16px;
    border: 1px solid #fc8135;
    /* float: right; */
    color: #fc8135;
    display: flex;
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; /* Вертикальное центрирование */
    transition: background-color 0.2s ease, box-shadow 0.2s ease; /* Анимация переходов */
}

.icon-add:hover {
    background-color: #fc8135;
    color: white;
}

.icon-add:active {
    -webkit-box-shadow: 0px 0px 0px 4px rgba(255, 203, 112, 0.53);
    -moz-box-shadow: 0px 0px 0px 4px rgba(255, 203, 112, 0.53);
    box-shadow: 0px 0px 0px 4px rgba(255, 203, 112, 0.53);
}

.container-icon-add {
    /* display: inline-block; */
    float: right;
    margin-right: 3px;
}
