.adsListContainer {
    /* margin: 20px; */
    font-family: Verdana, 'Dejavu Sans', Geneva, Tahoma, sans_serif;
}

.headerRow {
    display: flex;
    /* font-weight: bold; */
    /* background-color: #f2f2f2; Фон для заголовка */
    color: darkgrey;
    font-size: 12px;
}

.cellHeader {
    flex: 1; /* Равномерное распределение ширины заголовков */
    /* padding: 10px; */
    text-align: center; /* Центрируем текст заголовков */
}

.preloader {
    display: inline-block;
    margin: 50px auto;
}
