/* Убираем подчеркивание для всех ссылок */
a {
    text-decoration: none;
    color: inherit; /* Сохраняет цвет ссылки от родительского элемента */
}

a:hover {
    text-decoration: none; /* Убираем подчеркивание при наведении */
}
