/* Убираем подчеркивание для всех ссылок */
a {
    text-decoration: none;
    color: inherit; /* Сохраняет цвет ссылки от родительского элемента */
}

a:hover {
    text-decoration: none; /* Убираем подчеркивание при наведении */
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    font-family: 'Calibri', sans-serif;
}
