/* Контейнер для поиска города */
.city-search-container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

/* Поле ввода для поиска */
.city-search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

/* Выпадающий список */
.city-dropdown {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    border: 3px solid #8ec5ff;
    background-color: #fff;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    padding: 0;
    list-style: none;
}

/* Элементы списка */
.city-dropdown-item {
    padding: 10px;
    cursor: pointer;
    /* border-bottom: 1px solid #5bd62b; */
    font-size: 16px;
    color: #333;
    transition: background-color 0.2s ease;
    text-align: left;
}

/* Последний элемент без нижней границы */
.city-dropdown-item:last-child {
    border-bottom: none;
}

/* Ховер на элемент списка */
.city-dropdown-item:hover {
    background-color: #f0f0f0;
}

/* Стилизация выбранного элемента */
.city-dropdown-item:active {
    background-color: #e0e0e0;
    color: #000;
}
