.transport-ad-profile-request-status {
    width: 100%;
    display: flex;
    flex-direction: column; /* Размещаем элементы вертикально */
    margin: 0 auto; /* Центрирование блока по горизонтали */
    text-align: center; /* Выравнивание текста внутри по центру */
}

.transport-ad-profile-request-status-description {
}

.transport-ad-profile-request-status-info {
    color: rgb(234, 79, 1);
    font-weight: 600;
    font-size: 18px;
}

.request-status-container {
    margin-top: -20px;
    display: flex;
    align-items: center;
    gap: 8px; /* Расстояние между иконкой и текстом */
}

.request-status-container.pending {
    color: rgb(1, 164, 1);
}

.request-status-container.cancelled {
    color: rgb(225, 0, 0);
}

.request-status-icon {
    width: 40px; /* Ширина иконки */
    height: 40px; /* Высота иконки */
}
